/* Arquivo principal que importa todos os estilos */
@import url('base/reset.css');
@import url('base/typography.css');
@import url('utils/variables.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/search-bar.css');

/* Estilos gerais do site */
body {
  color: var(--text-color);
  background: #252525;
  font-family: 'Arial', sans-serif;
}

header {
  border: 2px red solid;
  position: fixed;
  width: 100%;
  margin: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  background: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-nav .logo img {
  height: 70px;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: var(--spacing-md);
}

.header-nav a {
  color: var(--text-color);
  text-decoration: none;
}

.header-nav ul li a.active {
  color: #ff0000; /* Destacar a página ativa (importarHeader.css) */
  font-weight: bold;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg);
  background: url('../assets/img/office-bg.jpg') no-repeat center/cover;
  color: white;
  text-align: center;
  height: 400px;
  justify-content: center;
}

.destaques {
  padding: var(--spacing-lg);
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--spacing-md);
  margin: var(--spacing-lg) 0;
}

section.mapa-container {
  padding: var(--spacing-lg);
  text-align: center;
  border-radius: 8px;
}

section.mapa-container iframe{
  border-radius: 8px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  background: #333;
  color: white;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

footer p {
  text-align: center;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.whatsapp-icon img {
  width: 40px;
  height: 40px;
}

/* Responsividade */
@media (max-width: 768px) {
  .hero, .destaques, .search-bar {
    padding: var(--spacing-md);
  }
  .hero {
    height: 300px;
  }
  .header-nav {
    flex-direction: column;
    gap: var(--spacing-sm);
  }
  .header-nav ul {
    flex-direction: column;
    text-align: center;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}